*{
	margin:0px;
	padding: 0px;
}
header {
	background-color: blue;
	height: 27px;
}
.hari {
	display: flex;
	list-style-type: none;

}
#nav-btn {
	margin-left: 30px;
	font-size: 10px;
	padding: 0px 10px 5px 10px;
	color: green;
}
.fas-icon{
	font-size: 24px;
	position: absolute;
	top:8px;
	margin-left: 723px;
}
.nav-srh {
	position: absolute;
	top: 4px;
	margin-left: 720px;
	border-radius: 12px;
	padding: 0px 5px 0px 5px;
}

.banner {
	color: white;
    margin-left: 470px;
    position: absolute;
    top: 40px;
}
#paragraph {
	font-size: 10px;
position: absolute;
top: 30px;
}
 
.bg {
	background-image: url('./img/build.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	outline-style: none;
}
img {
	height: 20px;
	display: flex;
	margin-top: 35px;
}
.tick {
	position: absolute;
	top: 56px;


}
.content {
	margin-left:30px;
	position: absolute;
	top:75px; 
	font-size: 25px;
	padding-top: 10px;
}

.shop p{
	padding-top: 130px;
	font-size: 15px;
	padding-left: 120px;
}
.btn {
	position: absolute;
	top: 283px;
	color: white;
	border-radius: 8px;
	border-color: orange;
	background-color: orange;
	margin-left: 250px;
}
.material-icons {
position: absolute;
top: 485px;
color:white ;
margin-left: 50px;
padding: 10px;
border-radius: 100px;
background-color:blue;
}
h2 {
	position: absolute;
	top:500px;
	margin-left: 100px;
	font-size: 15px;
}
.fa-user-circle {
	position: absolute;
	top: 485px;
	margin-left: 350px;
	color: white;
	padding: 13px;
	background-color: blue;
	border-radius: 100px;
}
.user {
	margin-left: 420px;
}
.fa-signal {
	position: absolute;
	top: 485px;
	margin-left: 700px;
	padding: 15px 13px;
	background-color: blue;
	color: white;
	border-radius: 100px;
}
.signal {
	margin-left: 770px;
}
.text p {
	position: absolute;
	top: 540px;
	margin-left: 60px;
	max-width: 200px;
}
.text .name {
	margin-left: 360px;
}
.text .tour {
	margin-left: 700px;
}
.users {
	position: absolute;
	top: 700px;
	padding: 20px;
	background-color: blue;
	border-radius: 2px;
	margin-left: 60px;
}
.users .contact {
	position: absolute;
	top: 120px;
	right: 25px;
}
.troll {
	position: absolute;
	top: 700px;
	padding: 20px;
	background-color: blue;
	border-radius: 2px;
	margin-left: 300px;
}
.troll .cart {
	position: absolute;
	top: 120px;
	right:13px;
}
.dial {
	position: absolute;
	top: 700px;
	padding: 20px;
	background-color: blue;
	border-radius: 2px;
	margin-left: 550px;

}
.dial p {
	position: absolute;
	top: 120px;
	right: 15px;
}
.home {
	position: absolute;
	top: 700px;
	padding: 20px;
	background-color: blue;
	border-radius: 2px;
	margin-left: 770px;
}
.home p{
	position: absolute;
	top: 120px;
	right: 20px;
}
